<%= stylesheet_link_tag "newquestion" %>

<div style = "position:relative;top:70px;">
<% if flash.notice %>
  <div style="text-align: center; margin-left: auto; margin-right: auto;"><h3><%= flash.notice %></h3></div>
<%end%> 
<% @page_title = "UserAuth | Signup" %>

<div id="outer" style="width:100%">  

<div style="width: 50%; margin: 0 auto;position:relative" class="" id="loginModal">
  <div class="modal-body" style="max-height:500px">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#create" data-toggle="tab">New Question</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="create">
          <%= form_tag({:controller => 'questions', :action => 'create'}, html: {role: "form"},method: "post", :multipart => true) do |f| %>
            <div class="control-group">
                <label class="control-label"  for="title">Title</label>
                <div class="controls">
                  <input type="text" class="form-control" id="question_title" name="question[title]">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="option1">First Option</label>
                <div class="controls">
                  <input type="text" class="form-control" id="question_option1" name="question[option1]"  maxlength="50">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="option2">Second Option</label>
                <div class="controls">
                  <input type="text" class="form-control" id="question_option2" name="question[option2]" maxlength="50">
                </div>
              </div>
              <div class="control-group">
                <label class="control-label"  for="text">Text</label>
                <div class="controls">
                  <textarea class="form-control" id="question_text" name="question[text]" maxlength="100"></textarea>
                </div>
              </div>
              <div class="control-group">
                </br>
                <label class="control-label">Picture</label>
                  <%= file_field_tag "picture"%>
              </br>
              </div>
            </br>
            <button class="btn btn-primary">Publish</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
