<div style = "position:relative;top:50px;">
<% if flash.notice %>
  <div><h3><%= flash.notice %></h3></div>
<%end%> 


<div style = "position:relative;top:50px;">
<div class="container-fluid" syle="horizontal-align: middle">
	<h1>Login</h1>
	<%= form_tag({controller: "users", action: "post_login"}, method: "post", html: {role: "form"}) do%>
	  <div class="form-group">
	    <label for="username">Username:</label>
	    <input type="text" class="form-control" id="user_username" name="user[username]">
	  </div>
	  <div class="form-group">
	    <label for="password">Password:</label>
	    <input type="password" class="form-control" id="user_password" name="user[password]">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	<% end %>
</div>
</div>