<% if flash.notice %>
	<div><h3><%= flash.notice %></h3></div>
<%end%> 

<div style = "position:relative;top:50px;">
<div class="container-fluid" syle="horizontal-align: middle">
	<h1>Sign Up</h1>

	<form role="form" action"users/create" method="post">
	  <div class="form-group">
	    <label for="username">Username:</label>
	    <input type="text" class="form-control" id="username">
	  </div>
	  <div class="form-group">
	    <label for="email">Email:</label>
	    <input type="email" class="form-control" id="email">
	  </div>
	  <div class="form-group">
	    <label for="password">Password:</label>
	    <input type="password" class="form-control" id="password">
	  </div>
	  <div class="form-group">
	    <label for="password_confirmation">Password Confirmation:</label>
	    <input type="password" class="form-control" id="password_confirmation">
	  </div>
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
</div>

