#owl-demo {
	/*position:relative;
	left: 300px;
	width:640px;*/
}

#question-title {
/*	color: white;*/
}

#outer-div {
/*	position:absolute;
	background-color: #9999FF;
	top:100px;
	height: 900px;
	width: 100%;
}*/
}