

<%= javascript_include_tag "searcher" %>
<input id="search_box" type="text" style="position:relative;top:100px;"></input>
<div id="resultBox"></div>
<script type="text/javascript">
  //<![CDATA[
    new Searcher("search_box", "resultBox", "/questions/query"); 
  //]]>
</script>
